# This file describes the network interfaces available on your system
# For more information, see netplan(5).
network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ifname }}:
      dhcp4: no
      dhcp6: no
      addresses: [{{ ip4 }}/{{ subnet }}]
      gateway4: {{ gw4 }}
      nameservers:
        addresses: [{{ dns4_1 }}]